/* HEADER Y BUSCADOR (Celular) */
body > header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--color-amarillo); 
    background-color: var(--color-fondo);
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

header figure img { max-width: 140px; height: auto; }
header form label { display: none; }

header form {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
    padding: 0.5rem 1rem;
}

header form input[type="search"] {
    width: 100%;
    min-width: 150px; 
    padding: 0.8rem; 
    border: 1.5px solid var(--color-azul); 
    border-radius: 25px; 
    background-image: url('../img/lupa.png'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 16px; 
}

header form button { display: none; }

/* NAVEGACIÓN (Celular) */
body > header nav {
    width: 100%; 
    margin-top: 0.2rem; 
}

.header-top {
    display: flex;
    width: 100%;
    max-width: 640px;
    justify-content: space-between;
    align-items: center;
}

.header-top figure img { 
    max-width: 240px; 
    height: auto; 
   
}

.icono-carrito {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-azul);
}

#menu-hamburguesa {
    display: none;
}

.label-hamburguesa {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 1rem;
}

.label-hamburguesa img, .icono-carrito img {
    width: 40px; 
    height: auto;
    margin: 0 0.7rem; 
}

nav ul {
    display: none;
    flex-direction: column;
    gap: 1.5rem;  
    padding: 1.5rem 2rem;
    border-top: 3px solid var(--color-violeta);
}

#menu-hamburguesa:checked ~ ul {
    display: flex;
}

nav a {
    font-weight: 1000; 
    text-transform: uppercase; 
    letter-spacing: 0.35px;
    color: var(--color-azul);
    font-size: 1.2rem;
}


/* FOOTER (Celular) */
footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: 3px solid var(--color-amarillo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

footer address p:first-of-type { display: none; }
footer address p { font-weight: 600; margin: 0; }

footer address {
    font-style: normal; 
    flex-wrap: wrap; 
    align-items: center;
    padding: 0;
    display: flex;
}

footer ul {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-left: 1rem;

}

footer p small {
    color: var(--color-violeta);
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap; 
    margin-right: 1rem;
    margin-left: 0.7rem;
}

/* DISEÑO PC (Más de 768px) */
@media screen and (min-width: 768px) { 
    body > header {
        padding: 1rem 0.5rem;
        flex-wrap: nowrap;
    }

    header form {
        min-width: 350px;
        margin: 0 2.5rem;
        justify-content: flex-end;
    }

    header form input[type="search"] { width: 100% ;max-width: 800px; }

    body > header nav {
        width: auto; 
        margin-top: 0; 
        margin-right: 2rem;
    }

    .label-hamburguesa {
        display: none;
    }

    .icono-carrito {
        display: none;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        border-top: none;
        white-space: nowrap; 
        gap: 2.2rem;
    }

    nav a {
        font-weight: 600; 
        text-transform: uppercase;
        font-size: 0.85rem;
    }

    footer {
        flex-wrap: nowrap; 
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 3%;
    }

    footer address {
        flex: 1; 
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-right: 0.2rem; 
        
    }

    footer address p:first-of-type {
        display: block;
        margin-right: auto;
        flex: none;
    }

    footer address p:first-of-type a{
        padding: 0.4rem;
    }

    footer ul {
        flex: none; 
        display: flex;
        gap: 1rem;
        margin-left:0.5rem; 
        justify-content: flex-start; 
        
    }

    footer address p {
        white-space: nowrap; 
        margin: 0;
    }
    footer > p {
        flex: 1; /* Funciona como el segundo resorte, igualando la fuerza del primero */
        text-align: right; /* Alinea el texto contra la esquina derecha */
        margin: 0;
    }
    

    footer p small {
        margin-left: 1rem; 
        white-space: nowrap;
    }
}