@import url(reset.css);

/* VARIABLES GLOBALES */
:root {
    --color-violeta: #662483; 
    --color-azul: #283583;
    --color-verde: #00A551;
    --color-amarillo: #F9B233;
    --color-magenta: #E3004F;
    --color-texto: #333333;   
    --color-fondo: #FFFFFF;   
    --color-gris-claro: #F5F5F5;
   
    --fuente-titulos: 'Montserrat', sans-serif;
    --fuente-cuerpo: 'Open Sans', sans-serif;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-cuerpo); 
    line-height: 1.6; 
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fuente-titulos);
    font-weight: 700;
}

a{
    color: var(--color-azul);
    text-decoration: none;
}

a:hover, .btn-cargar:hover {
    color: var(--color-magenta); 
}

/* Base Celular */
body > header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--color-amarillo); 
    background-color: var(--color-fondo);
    position: sticky;
    top: 0; 
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos al hacer scroll */
}

header figure img {
    max-width: 140px;
    height: auto;
}

header form label {
    display: none; 
}

header form {
    display: flex;
    flex: 1;
    justify-content: flex-end; /* Lo empuja a la derecha contra el borde */
    margin-right: 1.5rem;
}

header form input[type="search"] {
    width: 100%;
    max-width: 280px;
    min-width: 150px; /* Ancho mínimo */
    padding: 0.5rem; 
    border: 1.5px solid var(--color-azul); 
    border-radius: 25px; 
    background-image: url('../img/lupa.png'); /* Asegúrate de que la ruta sea correcta */
    background-repeat: no-repeat;
    background-position: right 10px center; /* La acomodamos a la derecha y centrada verticalmente */
    background-size: 16px; /* Tamaño de la lupa */
}

header form button {
    display: none; 
}

body > header nav {
    width: 100%; /* Esto obliga a la caja del menú a bajar y ocupar toda la pantalla */
    margin-top: 0.2rem; /* Lo separa un poco del buscador */
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: auto;  
}

nav a {
    font-weight: 500; 
    text-transform: capitalize; 
    letter-spacing: 0.35px;
    color: var(--color-azul);
    white-space: nowrap;   
}

main > header {
    background-color: var(--color-gris-claro); 
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    border-bottom: 4px solid var(--color-amarillo);
}

main .inicio-imagen{
    background-image: url('../img/fondo-libreria.png'); 
    background-size: cover;
    background-position: center; 
    
}

main > header h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 2px var(--color-amarillo);
}

main > header p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px var(--color-texto);
    
}

main > header a {
    background-color: var(--color-magenta);
    color: white;
    padding: 1rem 6rem;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none; 
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    margin-top: 2rem;
}

main > header a:hover{
    background-color: var(--color-amarillo);
    transform: scale(1.05); 
}

/* --- PROMOCIONES --- */
main > section:nth-of-type(1) {
    padding: 4rem 5%;
    text-align: center;
}

main > section:nth-of-type(1) h2 {
    color: var(--color-azul);
    font-size: 2.2rem;
}

main > section:nth-of-type(1) p {
    margin-bottom: 3rem;
    font-size: 1.15rem; 
    line-height: 1.6;
    color: var(--color-texto);
    margin-left: 1rem;
}

main > section:nth-of-type(1) article {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 1rem;
    padding: 2rem;
    flex-direction: column;
    background-color: var(--color-fondo);
    text-align: left;
    border-radius: 10px;
    border-bottom: 4px solid var(--color-amarillo); 
    transition: transform 0.3s ease;
    

}

main > section:nth-of-type(1) article:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

main > section:nth-of-type(1) article img {
    grid-column: 1 / 2; /* Se queda en la columna 1 */
    grid-row: 1 / 3;
    width: 210px;
    height: 200px; /* La hacemos un cuadrado perfecto */
    object-fit: cover; /* Evita que la foto se deforme o estire */
    border-radius: 8px;
    margin: 0;
    image-orientation: from-image;
    display: block;
    margin: 0 auto;

}

main > section:nth-of-type(1) article h3 {
    font-size: 1.6rem; 
    margin-left: 1rem;
    margin-bottom: 0.8rem;
    color: var(--color-violeta);
    
}

/* --- TIENDA FÍSICA --- */
main > .tienda-fisica {
    padding: 4rem 5%;
    background-color: var(--color-gris-claro);
    display: flex;
}

main > .tienda-fisica figure {
    margin-bottom: 2rem;
}

main > .tienda-fisica figure img {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;

    
}

main > .tienda-fisica figcaption h2 {
    color: var(--color-azul);
    margin-top: 1.5rem;
    font-size: 2rem;
}

main > .tienda-fisica address {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    border-left: 5px solid var(--color-verde); 
    font-style: normal; 
}

main > .tienda-fisica address ul {
    margin-top: 1rem;
    padding-left: 1rem;
}

main > section:nth-of-type(2) address li {
    margin-bottom: 0.5rem;
    color: var(--color-texto);
}

footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: 3px solid var(--color-amarillo);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
}

footer address p:first-of-type {
    display: none;
}

footer address p {
    font-weight: 600;
    margin: 0;
}

footer address {
    font-style: normal; 
    flex-wrap: wrap; /* Si no entra el texto y las redes al lado, las redes bajan */
    align-items: center;
    padding: 0;
    display: flex;
}

footer ul {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-left: 1rem;
}

footer p small {
    color: var(--color-violeta);
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap; 
    margin-right: 1rem;
    margin-left: 0.7rem;
}


.filtros form {
    display: none; 
}

.grilla-libros {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* ¡Lo obliga a tener 2 columnas iguales! */
    
}

.grilla-libros article {
    padding: 1rem; /* Le puse un padding más chiquito para que entre bien en celular */
    border-radius: 20px;
    border: 1px solid var(--color-gris-claro);
    text-align: center;
    border-bottom: 4px solid var(--color-amarillo); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem;
    height: 250px;
}

.grilla-libros article:hover {
    transform: translateY(-5px); /* Se levanta un poquito */
    box-shadow: 0 10px 200px rgba(0, 0, 0, 0.12); /* Sombra más fuerte */
}

.grilla-libros article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.grilla-libros article p {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.grilla-libros article p:nth-of-type(3) {
    font-weight: 800;
    color: var(--color-violeta);
    font-size: 1rem;
}


.btn-cargar {
    grid-column: span 2; /* ocupa las 2 columnas" */
    width: 250px; 
    margin:  3.5rem auto;
    padding: 1rem 2rem;
    background-color: var(--color-magenta);
    color: var(--color-fondo);
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    text-transform: uppercase; 
    letter-spacing: 0.65px;
    font-weight: 800;
    color: var(--color-fondo);    
}

.btn-cargar:hover, .filtros[open] form button:hover {
    background-color: var(--color-verde);
    transform: scale(1.05); 
}

/* Eliminamos la flecha por defecto en todos los navegadores */
.filtros summary {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-type: none;
    
}

.filtros[open] form {
    display: flex;
    flex-direction: row; /* Ahora es en fila, no en columna */
    flex-wrap: wrap;     /* Permite que los elementos bajen al siguiente renglón */
    align-items: center;
    gap: 0.5rem 0;
}

.filtros summary img {
    width: 50px;
    height: auto; /* Mantiene la proporción para que no se deforme */
    margin-right: 20px; /*espacio entre icono y FILTRAR*/
}

.filtros form label {
    display: none;
}

.filtros form {
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: center;
    align-content: center;
    margin: 3rem 3rem;
}

.filtros form p {
    font-size: 900;
    color: var(--color-texto);
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    width: 100%;
    font-weight: 800;

}

.filtros form select, .filtros form input[type="number"] {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border: 1px solid var(--color-gris-claro);
    border-bottom: 4px solid var(--color-violeta);
    border-radius: 8px;
    font-family: var(--fuente-cuerpo);
    outline: none; 
}

.filtros form button {
    background-color: var(--color-azul);
    color: var(--color-fondo);
    border: none;
    padding: 1rem 3rem; 
    border-radius: 30px;
    cursor: pointer;
    font-family: var(--fuente-cuerpo);
    margin-left: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
    
}

.filtros form input[type="number"] {
    margin: 0.5rem; 
    padding: 0.6rem;
    font-weight: 800;
    font-size: 1rem;
    color: var(--color-violeta);
    max-width: 115px;
}

/*cambios para PC */
@media screen and (min-width: 768px) { 
    
    /* Header Horizontal */

    body > header {
        padding: 1rem 0.5rem;
        flex-wrap: nowrap;
    }

    header form {
        min-width: 350px;
        max-width: 600px; /* Tamaño ideal para el centro de la pantalla */
        margin-left: auto; /* Absorbe el espacio sobrante a la izquierda y lo empuja a la derecha */
        margin-right: 2rem; /* Le deja un espacio prolijo de separación con los enlaces del menú */
        justify-content: flex-end;
    }

    header form input[type="search"] {
        max-width: 500px; 
    }

    body > header nav {
        width: auto; /*  Le sacamos el 100% que venía del celular */
        margin-top: 0; /* Le limpiamos el margen superior que le habíamos puesto */
        margin-right: 2rem;
        
    }

    nav ul {
        flex-wrap: nowrap; 
        gap: 2.2rem;
        
    }

    nav a {
        font-weight: 600; 
        text-transform: uppercase;
        font-size: 0.85rem;
    }

    /* Hero Banner más alto */
    main > header {
        min-height: 50vh; 
    }

    /* Promociones */
    main > section:nth-of-type(1) {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    main > section:nth-of-type(1) h2,
    main > section:nth-of-type(1) > p {
        width: 100%;
    }

    main > section:nth-of-type(1) article {
        flex: 1; 
        min-width: 250px;
        margin-bottom: 0;
    }

    /* Tienda Física en 2 columnas */
    main > section:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }

    main > section:nth-of-type(2) figure {
        flex: 1; 
        margin-bottom: 0;
    }

    main > section:nth-of-type(2) address {
        flex: 1; 
    }

    footer {
        flex-wrap: nowrap; /* prohibimos que bajen de renglón */
        padding: 2rem 5%;
    }

    footer address {
        flex: 1; /* para qie address que ocupe todo el espacio sobrante... */
        justify-content: flex-start; 
        padding-right: 5rem; /* Un respiro antes de chocar con el copyright */
    }

    footer ul {
        flex: 1; /* Hace que la caja de las redes se estire hacia la derecha... */
        justify-content: flex-start; 

    }
    
    footer address p:first-of-type {
        display: block;
        flex: 1;
    }

    .catalago-main {
        display: grid;
        grid-template-columns: 280px 1fr;
        column-gap: 3rem;
        align-items: start; /* Evita que los filtros se estiren para abajo */
    }

    /* El hero y el botón ocupan todo el ancho */
    .catalago-main .hero-catalogo,
    .catalago-main .btn-cargar {
        grid-column: 1 / -1;
        margin-bottom: 6rem;
    }
    
    .catalago-main .filtros summary {
        display: none;
    }

    /* 3. Pisamos el CSS rebelde del index para la grilla y le damos 3 columnas */
    .catalago-main .grilla-libros {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas  */
    }

    .catalago-main .grilla-libros article {
        padding: 4rem 0.5rem;
        margin: 0rem 5.8rem;
        min-width: 350px;
    }
    
    /* Ajustamos el botoncito IR y los inputs para que no se aprieten */
    .catalago-main .filtros form input[type="number"] {
        max-width: 80px;
    }
    
    .catalago-main .filtros form button {
        margin-left: 0.2rem;
        padding: 0.6rem 1rem;
    }


}